.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 40px;
  min-height: 80vh;
}

.left {
  flex: 1;
  padding: 20px;
}

.title {
  font-size: 50px;
  font-weight: bold;
  color: #2563eb;
}

.home-image
{
  margin-top: 25px;
  width: 100%;
  max-width: 450px;
  border-radius: 14px;
  box-shadow:0 12px 30px rgba(0,0,0,0.35) ;
  transition: transform 0.4s ease;
}

.home-image:hover {
  transform: scale(1.03);
}
.subtitle {
  font-size: 18px;
  margin-top: 10px;
  color: #444;
  max-width: 500px;
}

.right {
  flex: 0.8;
  padding: 30px;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.login-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
}

.login-btn {
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
}

.signup-text {
  text-align: center;
  margin-top: 10px;
}

.signup-text a {
  color: #2563eb;
  font-weight: 600;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

/* FEATURES SECTION */
.features-section {
  background: #f9fafb;
  padding: 70px 40px;
  text-align: center;
}

.features-title {
  font-size: 32px;
  margin-bottom: 40px;
  color: #1e3a8a;
  font-weight: 600;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  max-width: 1100px;
  margin: auto;
}

.feature-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-8px);
}

.feature-card h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.feature-card p {
  color: #555;
  font-size: 15px;
  line-height: 1.5;
}
